{% extends 'base.html' %}
{% load static %}

{% block style %}
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        a::after {
            content: " \1F517";
        }

        a:hover::after {
            content: attr(data-tool-tip);
            font-size: .75rem;
            margin-left: .25rem;
            color: rgb(55, 141, 253);
            background-color: lightgray;
            border-radius: 1rem;
            padding: .25rem .5rem;
        }
    </style>
{% endblock style %}


{% block content %}
    <ul role="list">
        {% for article in articles %}
            <li><a href={% url 'article-details' article.id %} data-tool-tip="Click to show details article of id {{ article.id }}">{{ article.id}}. {{ article.title }} - {{ article.content }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}